<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v7.0" sku=".NETFramework, Version=v7.0" />
	</startup>
	<appSettings>
		<add key="DirectoryPeopleFiles" value="C:\PeopleFiles\Base_files"/>
		<add key="Student" value="C:\PeopleFiles\Base_files\Student.txt" />
		<add key="Teacher" value="C:\PeopleFiles\Base_files\Teacher.txt" />
		<add key="Supplier" value="C:\PeopleFiles\Base_files\Supplier.txt" />
		<add key="EmailOrigin" value="giovannit.amorim@gmail.com" />
		<add key="Password" value="tluc axee tojg aydv" />
	</appSettings>
</configuration>